div[data-testid="stDecoration"] {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 0.125rem;
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(9, 118, 207));
    z-index: 999990;
}

div[data-testid="stToolbar"]  {
display: None;
}

.viewerBadge_link__qRIco {
display : None;
}
